.card-img-top {
  border-radius: 5px !important;
}

.content {
  display: flex !important;
  width: 100%;
  height: 100vh;

  .nav-drop {
    width: 400px;
    border-right: 1px solid black;
    height: 121vh !important;
    color: white !important;

    .drop-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      border-bottom: 1px solid black;
      p {
        margin: 0;
      }
    }

    .drop-content{
      display: flex;
      flex-direction: column;

      .category-title{
        display: flex;
        justify-content: space-between;
        padding: 5px 15px;
      }
      .category-item{
        color: #aaa;
        font-size: 15px;
        transition: 0.2s;
        &:hover{
          color: black;
        }
      }
      b{
        color: #ffffff;
      }
    }
  }

  .output {
    flex: 1;
    height: 121vh;
  }

  .card{
    border: 1px solid black !important;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  footer {
    margin-top: 700px !important;
  }
}