.wp-div {
  position: fixed !important;
  bottom: 30px !important;
  right: 30px !important;
}

.card-img-top {
  border-radius: 5px !important;
}

.content {
  display: flex !important;
  width: 100%;
  height: 100vh;

  .nav-drop {
    border-right: 1px solid black;
    height: 121vh !important;
    color: white !important;
    width: 400px !important; 
    transition: width 0.3s ease;

    .drop-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      border-bottom: 1px solid black;
      p {
        margin: 0;
      }
    }

    .drop-content {
      display: flex;
      flex-direction: column;

      .category-title {
        display: flex;
        justify-content: space-between;
        padding: 5px 15px;
        p {
          cursor: pointer;
        }
      }
      .category-item {
        color: #aaa;
        font-size: 15px;
        transition: 0.2s;
        &:hover {
          color: black;
        }
      }
      b {
        color: #ffffff;
      }
    }
  }

  .output {
    flex: 1;
    height: 121vh;
  }

  .card {
    border: 1px solid black !important;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  .content .nav-drop {
    width: 300px !important;
  }
}

@media screen and (max-width: 768px) {
  .content .nav-drop {
    width: 250px !important;
  }
}

@media screen and (max-width: 576px) {
  .content {
    display: flex;
    flex-direction: column;

    .nav-drop {
      width: 100% !important;
      height: auto !important;
      border-right: none;
      border-bottom: 1px solid black;
    }
  }

  footer {
    margin-top: 700px !important;
  }
}