footer{
  .footer-li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    p {
      padding: 0 !important;
      margin: 0 !important;
    }
    .footer-icons {
      display: flex;
      align-items: center;
      gap: 10px;
      svg {
        font-size: 18px;
        color: white;
      }
    }
  }
} 

  @media screen and (max-width: 576px) {
    footer{
      margin-top: 2900px !important;
    }
    .footer-location {
        display: flex;
        flex-direction: column;
        img {
          display: none;
        }
      }
      .footer-mail {
        display: flex;
        flex-direction: column;
        img {
          display: none;
        }
    
        .contact-icon {
          display: flex;
          justify-content: center;
        }
      }
  }